.container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

mat-paginator {
  margin-top: 10px;
}

.table-container {
  margin: 20px;
}

/* NOT WORKING???? */
.yellow-snackbar {
  background-color: yellow;
  color: black;
}

/* NOT WORKING???? */
.red-snackbar {
  background-color: red;
  color: white;
}
